# Environment variables
.env
.env.*
.env.save
!.env.example

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Binary files and installers
*.msi
*.exe
*.zip
*.tar.gz

uploads/

# Logs
logs/
*.log
